* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(wal.jpg);
  background-position: center;
  background-size: cover;
  height: 109vh;
  margin: 0;
}

.navbar {
  width: 100%;
  height: 10%;
  margin: auto;
}

.c-logo {
  float: left;
  width: 200px;
  height: 70px;
  padding-left: 2%;
}
.logo h2 {
  color: #E3E3E3;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  z-index: 1;
  user-select: none;
  
}
.logo h2 span {
  color: #234C64;
}


/*MENUU*/
.menu-nav {
  width: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  
}

li {
  list-style-type: none;
}

.menu{
  justify-content: flex-end;
  margin-right: 100px;
  height: 30px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-right: 24px;
  border-radius: 5px;
  display: flex;
  gap: 19px;
  margin: auto;
  box-sizing: border-box;
  

  
}

li a {
  font-family: "Playfair Display";
  justify-content: flex-end;
  text-decoration: none;
  color: #E3E3E3;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease-in-out;
  -webkit-user-select: none;
  padding-top: 0;
}

li a:hover {
  color: #234C6A;
}




/*hero*/
.tkjcard {
  padding-top: 30px;
  padding-left: 25px;
  height: 190px;
  max-height: 190px;
  max-width: 400px;
  align-items: flex-start;
  -webkit-user-select: none;
}
.tkjcard h1 {
  color: #E3E3E334;
  text-align: left;
  padding-left: 0;
}

.tkjcard p {
  color: #E3E3E3;
  padding-top: 10px;
  height: 120px;
  font-family: "PlayFair Display";
  padding-left: 0;
}
 h1, h2, h3, h4, h5, h6, p, a {
  text-decoration: none !important;
}

.link {
  color: #E3E3E315 !important;
}